<div>
<% if session[:user] %>
<table class="center">
  <tr>
    <td><a href="../../photos/index/<%=session[:user].id%>"><i class="fa fa-home fa-2x"></i><br/>HOME</a></td>
    <td><a href="../../photos/new"><i class="fa fa-plus-square-o fa-2x"></i><br/>ADD PHOTO</a></td>
    <td><a href="../../users/index"><i class="fa fa-list fa-2x"></i><br/>USERS</a></td> 
  </tr>
</table>
<% else %>
    <td><a href="../../users/index" class="user_index">user index</a></td> 
<% end %>
</div>